@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: 45% 55%;
  margin: auto;
  max-width: 90rem;
  min-height: 50rem;
  background-color: #ffffff;
  border-radius: 2rem;
  overflow: hidden;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  padding: 0rem 9rem;
  height: 100%;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 90;
}
.img-container .main-image {
  position: relative;
  transform: translate(-4rem, 0);
  z-index: 100;
}
.img-container .box-image {
  position: absolute;
  transform: translate(-19.7rem, 5rem);
  z-index: 100;
}
.img-container .d-pattern {
  position: absolute;
  transform: translate(-78rem, -73rem);
  z-index: 90;
}
.img-container .rel {
  position: relative;
}
.img-container .m-pattern {
  display: none;
}
.img-container .mobile-image {
  display: none;
}

.dropdown {
  border-bottom: 0.1rem solid hsl(240, 5%, 91%);
}

.header-one {
  font-size: 3rem;
  color: hsl(238, 29%, 16%);
  margin-bottom: 3rem;
}

.h2 {
  display: grid;
  grid-template-columns: 100% 0%;
  align-items: center;
  font-size: 1.5rem;
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  padding: 1.2rem 0;
  cursor: pointer;
}

.h2:hover {
  color: hsl(14, 88%, 65%);
}

.ans {
  font-size: 1.2rem;
  color: hsl(240, 6%, 50%);
  padding-bottom: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.down {
  margin: auto;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  transform: translate(-3rem);
}

.weight-color {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg) translate(3rem);
}

@media screen and (max-width: 61.25rem) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90rem;
    margin: 15rem 0 35rem 0;
  }
  .container .card-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 37.5rem;
    min-height: 55rem;
    background-color: #ffffff;
    border-radius: 2rem;
    overflow: visible;
  }
  .container .dropdown-container {
    display: flex;
    flex-direction: column;
    padding: 0rem 3rem;
    padding-bottom: 5rem;
    justify-content: center;
  }
  .container .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 30;
  }
  .container .img-container .mobile-image {
    display: flex;
    transform: translate(0, -13rem);
    width: 30rem;
  }
  .container .img-container .main-image {
    display: none;
  }
  .container .img-container .box-image {
    display: none;
  }
  .container .img-container .d-pattern {
    display: none;
  }
  .container .img-container .rel {
    justify-content: center;
    width: 30rem;
    display: flex;
  }
  .container .img-container .m-pattern {
    display: flex;
    width: inherit;
  }
  .container .dropdown {
    border-bottom: 0.1rem solid hsl(240, 5%, 91%);
  }
  .container .header-one {
    font-size: 3rem;
    color: hsl(238, 29%, 16%);
    margin-bottom: 3rem;
    text-align: center;
  }
  .container .h2 {
    display: grid;
    grid-template-columns: 100% 0%;
    align-items: center;
    font-size: 1.2rem;
    color: hsl(237, 12%, 33%);
    font-weight: 400;
    padding: 1.2rem 0;
    cursor: pointer;
  }
  .container .h2:hover {
    color: hsl(14, 88%, 65%);
  }
  .container .ans {
    font-size: 1.2rem;
    color: hsl(240, 6%, 50%);
    padding-bottom: 1.2rem;
    transition: all 0.3s ease-in-out;
  }
  .container .down {
    margin: auto;
    transition: all 0.3s ease-in-out;
    padding: 1rem;
    transform: translate(-3rem);
  }
  .container .m-pattern {
    display: flex;
    position: absolute;
    top: 0;
  }
  .weight-color {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
  }
  .hidden {
    display: none;
  }
  .rotate {
    transform: rotate(180deg) translate(3rem);
  }
}/*# sourceMappingURL=styles.css.map */
